.square {
    width: 4px;
    height: 4px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;;
    border-right: 0px;
    border-bottom: 0px;
    padding: 1.5px;
    margin: 0;
}

.rightB {
    width: 4px;
    height: 4px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-bottom: 0px;
    padding: 1.5px;
}

.bottom {
    width: 4px;
    height: 4px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-right: 0px;
    padding: 1.5px;
}

.bottomR {
    width: 4px;
    height: 4px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    padding: 1.5px;
}