.square {
    box-sizing: border-box;
    /* width: 4px;
    height: 4px; */
    border-style: solid;
    border-color: black;
    /* border-width: 0.25px;; */
    border-right: 0px;
    border-bottom: 0px;
    /* padding: 1.5px; */
    /* margin: 0; */
}

.rightB {
    box-sizing: border-box;
    /* width: 4px;
    height: 4px; */
    border-style: solid;
    border-color: black;
    /* border-width: 0.25px; */
    border-bottom: 0px;
    /* padding: 1.5px; */
}

.bottom {
    box-sizing: border-box;
    /* width: 4px;
    height: 4px; */
    border-style: solid;
    border-color: black;
    /* border-width: 0.25px; */
    border-right: 0px;
    /* padding: 1.5px; */
}

.bottomR {
    box-sizing: border-box;
    /* width: 4px;
    height: 4px; */
    border-style: solid;
    border-color: black;
    /* border-width: 0.25px; */
    /* padding: 1.5px; */
}